/* Couleurs */
:root {
  --primary-color: #782fde;
  --secondary-color: #b527f5;
  --tertiary-color: #e326eb;
  --primary-blue: #4527f5;
  --secondary-blue: #263eeb;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --rouge: #c20d0d;
  --vert: #1dc20e;
}

.chat-window {
  width: 100%;
  margin: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px 6px 0 0;
  background: linear-gradient(to right, var(--primary-color), var(--tertiary-color));
  position: relative;
}
.chat-window .chat-header p {
  display: block;
  text-align: center;
  line-height: 45px;
  color: var(--white);
  font-weight: 700;
}
.chat-window .chat-body {
  height: 30rem;
  width: 100%;
  margin: auto;
  background: var(--white);
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message-container:-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message-container .message {
  height: auto;
  padding: 10px;
  display: flex;
  margin: 0;
}
.chat-window .chat-body .message-container .message .message-capsule {
  max-width: 70%;
}
.chat-window .chat-body .message-container .message .message-capsule .message-content {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  background-color: var(--tertiary-color);
  border-radius: 6px;
  color: var(--white);
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 0.5rem;
}
.chat-window .chat-body .message-container #you {
  justify-content: flex-end;
}
.chat-window .chat-body .message-container #you .message-content {
  justify-content: flex-end;
  margin: 0 0 0 auto;
}
.chat-window .chat-body .message-container #you .message-meta {
  justify-content: flex-end;
}
.chat-window .chat-body .message-container #other {
  justify-content: flex-start;
}
.chat-window .chat-body .message-container #other .message-content {
  justify-content: flex-start;
  background-color: var(--primary-color);
}
.chat-window .chat-body .message-container #other .message-meta {
  justify-content: flex-start;
}
.chat-window .chat-body .message-container .message-meta {
  display: flex;
  font-size: 12px;
}
.chat-window .chat-body .message-container .message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}
.chat-window .chat-footer {
  height: 40px;
  display: flex;
  background: var(--greyBg);
}
.chat-window .chat-footer input {
  height: 100%;
  width: 85%;
  border: 0;
  padding: 1rem;
  font-size: 1em;
  border-right: 1px solid var(--greyText);
  outline: none;
  background: var(--greyBg);
}
.chat-window .chat-footer .btnEnvoyerMessage {
  cursor: pointer;
  width: 15%;
  height: 100%;
  padding: 0.3rem;
  outline: none;
  font-size: 25px;
  align-self: center;
  color: var(--vert);
}
.chat-window .chat-footer .btnEnvoyerMessage:hover {
  background: var(--vert);
  color: var(--white);
}/*# sourceMappingURL=chat.css.map */