/* Couleurs */
:root {
  --primary-color: #782fde;
  --secondary-color: #b527f5;
  --tertiary-color: #e326eb;
  --primary-blue: #4527f5;
  --secondary-blue: #263eeb;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --rouge: #c20d0d;
  --vert: #1dc20e;
  // box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}

.popular {
  padding-top: 15rem;

  .secContainer {
    .secHeader {
      .textDiv {
        text-align: center;
        .secTitle {
          color: var(--black);
          line-height: 1.5rem;
          padding-bottom: 0.5rem;
        }

        p {
          font-size: 13px;
          color: var(--textColor);
          font-weight: 500;
        }
      }
    }

    .mainContent {
      padding: 2rem 0;
      gap: 1rem;
    }
  }
}

// MEDIA QUERIES
@media screen and (min-width: 480px) {
  .popular {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .popular {
    .secContainer {
      .secHeader {
        .textDiv {
          .secTitle {
            font-size: 2.2rem;
            line-height: 3rem;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
