/* Couleurs */
:root {
  --primary-color: #782fde;
  --secondary-color: #b527f5;
  --tertiary-color: #e326eb;
  --primary-blue: #4527f5;
  --secondary-blue: #263eeb;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.popular {
  padding-top: 15rem;
}
.popular .secContainer .secHeader .textDiv {
  text-align: center;
}
.popular .secContainer .secHeader .textDiv .secTitle {
  color: var(--black);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
.popular .secContainer .secHeader .textDiv p {
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}
.popular .secContainer .mainContent {
  padding: 2rem 0;
  gap: 3rem;
}
.popular .secContainer .mainContent .singleDestination {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}
.popular .secContainer .mainContent .singleDestination .destImage {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.popular .secContainer .mainContent .singleDestination .destImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo {
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.759));
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo h3 {
  color: var(--white);
  font-weight: 600;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo p {
  color: var(--white);
  opacity: 0.7;
  font-size: 13px;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo .icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0.5rem;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  transition: 0.1s ease;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo .icon:hover {
  background: var(--black);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.popular .secContainer .mainContent .singleDestination .destFooter {
  padding: 1rem;
}
.popular .secContainer .mainContent .singleDestination .destFooter .number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.popular .secContainer .mainContent .singleDestination .destFooter .number::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  top: 45%;
  right: -150%;
  height: 5px;
  width: 45px;
  border-radius: 1rem;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText {
  justify-content: space-between;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText h6 {
  color: var(--black);
  font-size: 15px;
}
.popular .secContainer .mainContent .singleDestination:hover .overlayInfo {
  overflow: visible;
  padding: 1rem 1.5rem;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .popular {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .popular .secContainer .secHeader .textDiv .secTitle {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .popular .secContainer .secHeader .textDiv p {
    font-size: 15px;
  }
}/*# sourceMappingURL=populaires.css.map */